<%= form_with(model: @post, local: true, url: confirm_blogs_path) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation" class = "error" >
      <h2><%= @post.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   
   <div class="post_content">
    <%= form.label :content %>
    <%= form.text_field :content, placeholder: "What's happening?" %>
  </div>
  <%= form.submit %>
<% end %>

<%= link_to "Back to Tweets", posts_path %>