<h3>Tweet with the following content</h3>

<%= form_with(model: @post, local: true) do |form| %>
  <div class = "confirm">
    <%= form.hidden_field :content %>

    <p>Tweet: <%= @post.content %></p>
    <%= form.submit 'Tweet' %>

    <%= form.submit 'Back', name: 'back' %>
  </div>  
<% end %>